header section:first-child {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

header section:first-child div {
  display: flex;
}

header section:first-child img {
  margin-right: 25px;
}

header section:last-child {
  padding: 10px 30px;
}

.divider {
  width: 100vw;
  border-top: 2px solid #eee;
}

.hero-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero {
  width: 80%;
}

.hero-container span {
  position: absolute;
  top: 40%;
  font-size: 140px;
  color: #fc5a03;
}

.text-bloc {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 8.3333vw auto;
}

.text-container {
  width: 50%;
  line-height: 2.5rem;
}

.text-container h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.text-container p {
  font-size: 1.1rem;
}

.image-bloc {
  width: 100vw;
  height: 850px;
  position: relative;
  overflow: hidden;
}

.media-bloc {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

figure {
  width: 50%;
}

iframe {
  width: 100%;
}

.media-bloc img {
  width: 80%;
}

.media-bloc h3, .media-bloc a {
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.8em;
}

.media-bloc a {
  color: #0000ff;
}
