header section:first-child {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

header section:first-child div {
  display: flex;
}

header section:first-child img {
  margin-right: 25px;
}

header section:last-child {
  padding: 10px 30px;
}

.divider {
  width: 100vw;
  border-top: 2px solid #eee;
}

.hero-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero {
  width: 80%;
}

.hero-container span {
  position: absolute;
  top: 40%;
  font-size: 140px;
  color: #fc5a03;
}

.text-bloc {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 8.3333vw auto;
}

.text-container {
  width: 50%;
  line-height: 2.5rem;
}

.text-container h3 {
  font-size: 1.875rem;
}

.text-container p {
  font-size: 1.25rem;
}

.image-bloc {
  width: 100vw;
  height: auto;
  position: relative;
  padding-bottom: 800px;
}
